<!DOCTYPE html>
<html lang="cs">
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="minijinja - https://docs.rs/minijinja/latest/minijinja/" />
    {% block metadata %}
    {% endblock %}
    <link rel="stylesheet" href="/style/main.css" />
    {% block styles %}
    {% endblock %}
</head>
<body>
    <nav class="not_printable">
	    <div class="site-title"><a class="hidden-a" href="/">Tomáš Vybíral</a></div>
        <div class="menu"><span class="menu-item"><a href="/about">O mně</a></span><span class="menu-item"><a href="/projects">Projekty</a></span></div>
    </nav>
    <div id="root">
    {% block content %}
    No content
    {% endblock %}
    </div>
</body>
</html>
