{% extends "index" %}
{% block title %}O mě - Tomáš Vybíral{% endblock %}
{% block metadata %}
<meta name="description" content="Webové stránky o mé maličkosti a mých projektech." />
<meta name="author" content="Tomáš Vybíral" />
<meta name="keywords" content="Tomáš Vybíral, programátor, programování, Tomcus, Tomcus94CZ, O Tomáši Vybíralovi, cv, životopis" />
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/style/about.css" />
{% endblock %}
{% block content %}
	<p class="not_printable">Stiskněte CTRL+P pro vygenerování životopisu.</p>
	<header>
		<h1 class="print_only">Bc. Tomáš Vybíral</h1>
		<small class="print_only">9. 8. 1994 &bull; <a href="https://vybiral.me">vybiral.me</a> &bull; <a href="mailto:vybiraltomas@seznam.cz">vybiraltomas@seznam.cz</a> &bull; +420 731 491 595</small>
	</header>
	<div class="content">
		<div class="print_only content_group">
			<h2>Osobní údaje</h2>
			<div>Celé jméno: Tomáš Vybíral</div>
			<div>Datum narození: 9. 8. 1994</div>
			<div>Kontaktní adreasa: <address>Nuselská 731/90<br>Praha 4<br>140 00</address></div>
			<div>Tel. číslo: +420 731 491 595</div>
			<div>Kontaktní email: <a href="mailto:vybiraltomas@seznam.cz">vybiraltomas@seznam.cz</a></div>
		</div>
		<div class="content_group">
			<h2>Dovednosti</h2>
			<small>(Vyšší je lepší)</small>
			<h3>Programování</h3>
				<ul>
					<li>C++ - 5/5</li>
                    <li>Rust - 4/5</li>
					<li>C - 4/5</li>
                    <li>LUA - 4/5</li>
					<li>Python - 5/5</li>
					<li>SQL - 3.5/5</li>
					<li>HTML + CSS - 4/5</li>
					<li>JavaScript - 3/5</li>
					<li>"Type"Script - 3/5</li>
					<li>PHP - 3.5/5</li>
				</ul>
			<h3>Práce s PC</h3>
				<ul>
					<li>Linux - 4/5</li>
                        <ul>
					        <li>bash - 4/5</li>
                            <li>docker</li>
                            <li>k8s - 3/5</li>
                        </ul>
					<li>Windows - 3.5/5</li>
					<li>git - 5/5</li>
                        <ul>
                            <li>gitlab - 5/5</li>
                            <li>github - 4/5</li>
                        </ul>
				</ul>
			<h3>Jazykové</h3>
				<ul>
					<li>Český jazyk - Rodilý mluvčí</li>
					<li>Anglický jazyk - B2 (maturita + zkouška z FIT ČVUT)</li>
				</ul>
		</div>
		<div class="content_group">
			<h2>Zkušenosti</h2>
			<ul>
                <li>2021 - *</li>
                    <ul>
                        <li><a href="https://kariera.seznam.cz/">Seznam</a></li>
                        <li>BE programátor (Junior -&gt Senior)</li>
                        <li>C++/LUA/Python/Rust/JS/TS</li>
                    </ul>
				<li>2018 - 2021</li>
					<ul>
						<li><a href="https://www.avast.com/">Avast Software</a></li>
						<li>QA + automatizce testů</li>
						<li>Analýza a zpracování Big Data databáze</li>
						<li>Junior C++ vývojář</li>
					</ul>
				<li>2017</li>
					<ul>
						<li><a href="https://wowee.cz/">Wowee</a></li>
						<li>projekt v rámci výuki</li>
						<li>QA + automatizace testů</li>
					</ul>
			</ul>
		</div>
		<div class="content_group">
			<h2>Vzdělání</h2>
			<ul>
				<li>2014 - 2020 - <a href="https://fit.cvut.cz/">ČVUT - FIT</a> - titul Bc. (Ing. studium přerušeno kvůli Covid-19)</li>
				<li>2013 - Letní škola v Dánsku - <a href="https://en.via.dk/">Via Horsens</a> - Programování v Java</li>
				<li>2011 - 2014 - <a href="https://gymlovo.cz/">Gymnázium Lovosice</a> - zakončeno maturitou</li>
			</ul>
        </div>
        <div class="content_group print_only">
			<h2>Mé projekty</h2>
            <div>Aktuální seznam mých projektů najdete na <a href="vybiral.me/projects">vybiral.me</a><div>
        </div>
        <div class="content_group">
			<h2>Zájmy</h2>
			<ul>
				<li>Moderní C++ a Rust</li>
				<li>Knihy - fantasy/sci-fi</li>
				<li>Hudba</li>
			</ul>
		</div>
	</div>
{% endblock %}
