{% extends "index" %}
{% block title %}Tomáš Vybíral Software{% endblock %}
{% block metadata %}
<meta name="author" content="Tomáš Vybíral" />
<meta name="keywords" content="Tomáš Vybíral, programátor, programování, Tomcus, Tomcus94CZ" />
{% endblock %}
{% block content %}
<p>Tato stránka ještě není hotová a některé stránky můžou být prázdné a některé odkazy nemusí fungovat.</p>
{% endblock %}
