{% extends "index" %}
{% block title %}Projekty - Tomáš Vybíral{% endblock %}
{% block metadata %}
<meta name="description" content="Webové stránky o mé maličkosti a mých projektech." />
<meta name="author" content="Tomáš Vybíral" />
<meta name="keywords" content="Tomáš Vybíral, programátor, programování, Tomcus, Tomcus94CZ, projekty, práce, tvorba" />
{% endblock %}
{% block content %}
<h1>Projekty</h1>
<p>Toto je výběr některých mých projektů na kterých jsem pracoval/pracuji.</p>
<h2><a href="https://github.com/Tomcus/NetMake">NetMake</a></h2>
<p>Jednoduchý nástroj, který dokáže generovat statické webové stránky. Celý projekt je napsaný v jazyce C++ a byla s jeho pomoci vygenerována i tato stránka.</p>
<h2><a href="https://gitlab.com/Tomcus/ldjam45">Escape from Nabakza</a></h2>
<p>Počítačová hra se kterou jsem soutěžil v herním jamu Ludum Dare 45. Jedná se o jednudou top down akční hru. Hráč se musi dostat z vězení a přemoci všechny nepřátele.</p>
<h2><a href="https://gitlab.com/Tomcus/registracka">Webový registrační systém Registračka</a></h2>
<p>Systém pro registraci uzivatelu do administrátory vytvořených akcí/kurzů. Projekt aktuálne není možné vyzkoušet (pokud ho si ho nespustite lokalne), protože čekám se spustěním na období po pandemii.</p>
<h2><a href="https://gitlab.com/Tomcus/vinarstvisvtomas.cz-PHP-HTML-CSS-JS-">Webové stránky Vinařství sv. Tomáše</a></h2>
<p>Webové stránky našeho rodiného vinařství. Jedná se o "starší" projekt, který je ale neustále aktulizován. Projekt je napsán v cistem PHP bez jakýkoliv rozšíření/frameworků.</p>
<h2><a href="https://github.com/Tomcus/DiamondSquareTerrainGenerator">Diamond square terrain generator</a></h2>
<p>Moje implementace teréního generátoru používajicího Diamond-Square algoritmu. Projekt byl vytvořen pro herní engine Unity.</p>
<h2><a href="https://gitlab.com/Tomcus/bi-pa1-1819">Sbírka školních projektů</a></h2>
<p>Sbírka nejrůznějších školních projektů. Obsahuje většinu programovacích projektů, které jsem vytvořil v rámci studia na FIT ČVUT.</p>
<h2><a href="https://wowee.cz">Wowee.cz</a></h2>
<p>První komereční projekt, na kterém jsem v rámci školy pracoval. Na tomto projektu jsem pracoval jako QA se zaměřením na automatizaci testů.</p>
{% endblock %}
