@page {
    size: A4;
    margin: 0;
    padding: 0;
}

.print_only {
    display: none;
    visibility: hidden;
}

@media print {
    .print_only {
        display: revert;
        visibility: revert;
    }

    :root {
        font-size: 100%;
    }

    .not_printable {
        display: none;
        visibility: hidden;
    }

    header {
        background-color: #add8e6 !important;
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        text-align: center;
        padding: 1em 0;
        color: black;
    }

    .content{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-height: 99vh;
        padding: 1em 0.5em;
        margin-top: 0;
    }

    .content_group {
        width: 45%;
        margin: 0 2.5%;
        border: 1em gray;
    }

    a {
        color: revert;
    }

    a:visited {
        color: revert;
    }
}
