:root {
	--main-color: black;
	--font-color: rgb(200, 200, 200);
	--link-color: rgb(255, 155, 0);
	background-color: var(--main-color);
	color: var(--font-color);

	font-family: Arial, Helvetica, sans-serif;
	font-size: 150%;
}

a {
	color: var(--link-color);
}

nav {
	text-transform: uppercase
}

body {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.site-title {
	margin-top: 0.5em;
	text-align: center;
	font-size: 300%;
}

.hidden-a {
	text-decoration: none;
	color: var(--font-color);
}

.hidden-a:hover {
	color: var(--link-color);
	border-color: var(--link-color);
}

.menu {
	display: flex;
	align-items: center;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 1em;
	font-size: 1.5em;
}

.menu-item {
	width: 100%;
	text-align: center;
	border: 1px solid var(--font-color);
}

p {
	margin: 0;
	padding: 1em;
}

p:nth-child(even){
	background-color: rgb(20, 20, 20);
}

p:first-of-type {
	margin-top: 1em;
}

.content {
	width: 80%;
	margin: 0 10%;
	margin-top: 3em;
}

@media only screen and (max-width: 768px) {
	:root {
		font: 100%;
	}
	.menu{
		flex-direction: column;
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}
}